<footer id="contact">
    <div id="logo">
      <p id="title">Resume Builder</p>
      <p id="description">Build resumes’s quickest than ever</p>
    </div>
    <div id="social-links">
        <p id="title">Social Links</p>
        <div id="icons">
            <img src="assets/circle.dotted.animation.gif" alt="">
            <div id="github">
                <img src="assets/social_icons/github.jpg" alt="Github" (click)="goToGithub()" title="Github">
            </div>
            <div id="linkedin">
            <img src="assets/circle.dotted.animation.gif" alt="">
                <img src="assets/social_icons/linkedin.jpg" alt="LinkedIn" (click)="goToLinkedIn()" title="LinkedIn">
            </div>
            <div id="email">
            <img src="assets/circle.dotted.animation.gif" alt="">
                <img src="assets/social_icons/mail.jpg" alt="Mail" (click)="mailTo()" title="Mail">
            </div>
        </div>
    </div>
</footer>
<router-outlet></router-outlet>