<div id="templates-grp">
  <div id="template-1">
    <img src="assets/templates/Temp1.png" alt="Template 1">
    <div class="select-bg" id="bg1">
      <button class="select" (click)="template1();">Select</button>
    </div>
  </div>
  <div id="template-2">
    <img src="assets/templates/Temp2.png" alt="Template 2">
    <div class="select-bg" id="bg2">
      <button class="select">Select</button>
    </div>
  </div>
  <div id="template-3">
    <img src="assets/templates/Temp3.png" alt="Template 3">
    <div class="select-bg" id="bg3">
      <button class="select">Select</button>
    </div>
  </div>
  <div id="template-4">
    <img src="assets/templates/Temp4.png" alt="Template 4">
    <div class="select-bg" id="bg4">
      <button class="select">Select</button>
    </div>
  </div>
  <div id="template-5">
    <img src="assets/templates/Temp5.png" alt="Template 5">
    <div class="select-bg" id="bg5">
      <button class="select">Select</button>
    </div>
  </div>
  <div id="template-6">
    <img src="assets/templates/template-1.svg" alt="Template 6">
    <div class="select-bg" id="bg6">
      <button class="select">Select</button>
    </div>
  </div>
</div>
<app-contact></app-contact>
<!-- <router-outlet></router-outlet> -->