<div id="resume-template">
  <div id="nav-bar">
    <nav>
      <ul>
        <li><a title="Reset Data">Reset</a></li>
        <li><a title="Download as pdf">Download</a></li>
      </ul>
    </nav>
  </div>
  <div id="editor-form-page">
    <div id="editor-form-main">
      <div id="title-bar"><p id="title">Action Window</p></div>
      <div id="form-container" #editContainer>
        <app-edit-template></app-edit-template>
      </div>
    </div>
    <div id="template-view-main">
      <div id="title-bar">
        <p id="title">Template View</p>
        <p id="pages">No. of Pages : 1</p>
      </div>
      <div id="template-container">
        <div id="editor-page-template">
          <app-template-one *ngIf="templateId == '1'"></app-template-one>
          <app-template-two *ngIf="templateId == '2'"></app-template-two>
          <app-template-three *ngIf="templateId == '3'"></app-template-three>
          <app-template-four *ngIf="templateId == '4'"></app-template-four>
          <app-template-five *ngIf="templateId == '5'"></app-template-five>
          <app-template-six *ngIf="templateId == '6'"></app-template-six>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading-bar color="#11e8a1" height="4px" diameter="20px"></ngx-loading-bar>
<router-outlet></router-outlet>
